#Card-div-insert-card {
  overflow: scroll;
}

.Cards-img {
  margin-top: 20px;
  width: 442px;
}

.trash-img {
  cursor: pointer;
}

.Cards-entrada {
  margin-top: 15px;
  display: flex;
  color: var(--color-grey-4);
  background-color: var(--color-grey-1);
}

.Cards-green-tag {
  background-color: var(--color-secundary);
  width: 10px;
  color: var(--color-secundary);
  height: 85px;
}

.Cards-grey-tag {
  background-color: var(--color-grey-3);
  width: 10px;
  color: var(--color-grey-3);
  height: 85px;
}

.Cards-card-info {
  width: 405px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px 0px;
}
.Cards-div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 15px;
}

@media (max-width: 1000px) {
  .container {
    max-width: 85%;
  }

  .Cards-section {
    display: flex;
    flex-direction: column;
  }

  .Cards-card-info {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 0px;
  }

  .Cards-div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
    min-width: 300px;
  }

  .Cards-entrada {
    width: 350px;
    margin-top: 15px;
    display: flex;
    color: var(--color-grey-4);
    background-color: var(--color-grey-1);
  }
}
